body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    margin-top: 16px;
    width: 400px;
    position: relative;
}

.label {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea {
    margin: 0;
    padding: 0;
    width: 100%;
}

select, button#submit {
    display: block;
    margin: 0;
    padding: 0;
    width: 25%;
}

button#submit {
    margin-top: 64px;
}
